<!DOCTYPE html>
<html>
  <head lang="eng">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'customerRigistration.css' %}" />
  </head>

  <body>
    {% include 'ProjectNav.html' %}

    {% csrf_token %}
    <form action="/CustData/" method="post">
      <h2>Customer Registration Form</h2>

      <label for="Name">Name</label><br />
      <input type="text" id="Name" name="Name" size="50" placeholder="Enter Name" required /><br />

      <label for="Mob_No">Mobile No.</label><br />
      <input type="phone" id="Mob_No" name="Mob_No" size="50" placeholder="Enter Mobile No" required /><br />

      <label for="Addr">Address</label><br />
      <input type="text" id="Addr" name="Addr" size="50" placeholder="Enter Address" required /><br />

      <label for="Type">Customer Type?</label>
      <select class="C_Selection" name="Type" id="Type">
        <option value="none">Select an Option</option>
        <option value="Supplier">Supplier</option>
        <option value="Client">Client</option>
      </select><br /><br />

      <button type="submit">Submit</button>

      <script src=""></script>
    </form>
  </body>
</html>
