<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Client Data</title>
  <link rel="stylesheet" href="/static/Payment.css" />
</head>

<body>
  {% include 'ProjectNav.html' %}
  <div class="tableContainer">
    <table>
      <tr>
        <th> <button id="btn" class="btn" onclick="payment()">Pay</button></th>
        <th colspan="4"> <input type="search" name="" id="" placeholder="Search" style="padding: 5px;"></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Payment</th>
        <th>Method</th>
        <th>Date</th>
      </tr>


      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.Name }}</td>
        <td>{{ data.Mob_No }}</td>
        <td>{{ data.Addr }}</td>
        <td>{{ data.fk_User_Id }}</td>
      </tr>

    </table>
  </div>

  <div class="formContainer" id="hide1">

    <form action="/payment/" method="post" class="form1" id="hide">

      {% csrf_token %}
      <div class="inputfile">
        <label for="">Select Type</label><br>
        <select name="" id="">
          <option>select type</option>
          <option value="Client">Client</option>
          <option value="Supplier">Supplier</option>
        </select>
      </div>

      <div class="inputfile">
        <label for="">Select Name</label><br>
        <select name="" id="">
          <option value=""></option>
        </select>
      </div>

      <div class="inputfile">
        <label for="Amount">Amount</label> <br />
        <input type="number" name="Amount" id="Amount" />
      </div>

      <div class="inputfile">
        <label for="method">Method</label><br>
        <select name="" id="">
          <option value="PhonePe">PhonePe</option>
          <option value="Cash">Cash</option>
          <option value="Paytm">Paytm</option>
        </select>
      </div>

      <div>
        <button type="submit" class="btn">Submit</button>
      </div>
      <div>
        <button type="button" onclick="payment()" class="btn1">Cancel</button>
      </div>
    </form>

  </div>

  <script>

    let x = document.getElementById('hide1')
    x.style.display = 'none'
    function payment() {
      if (x.style.display == 'none') {
        x.style.display = 'flex'
      }
      else {
        x.style.display = 'none'
      }
    }

    function delete1() {
      let v = confirm("Want to delete:");
      if (v == true) {
        return true;
      }
      else {
        return false;
      }
    } 
  </script>
</body>

</html>