<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Navbar.css' %}">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/About">SALESMANAGEMENT</a>
      <a href="/dashboard">Add Service</a>
      <a href="/Showclient">Client</a>
      <a href="/ShowSupplier">Supplier</a>
      <a href="/Add_Customer">Add Customer</a>
      <a href="/payment">Payment</a>
      <a class="LogOut" href="/logout">LogOut</a>
    </div>
  </body>
</html>
