*{
    padding: 0;
    margin: 0;
    
}

table,
td,
th {
    border: 2px solid black;
}

th {
    padding: 8px;
}

table {
    position: relative;
    top: 50px;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
    height: 35px;
    vertical-align: middle;
}

img{
    height: 30px;
    width: 30px;
}

.tableContainer{
    margin: 5px;
}

.formContainer{
    position: absolute;
    top: 45px;
    display: flex;
    justify-content: center;
    z-index: 100;
    width: 99%;
}

.form1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 350px;
    background-color: rgb(214, 195, 171,0.8);
    border-radius:10px ;
}

select{
    border-radius: 5px;
    width: 215px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
}

input{
    border-radius: 5px;
    width: 200px;
    height: 25px;
    padding: 5px;
    font-size: 18px;
}

.inputfile{
    margin: 3px;
}

label{
    font-size: 20px;
    color: black;
}

.btn{
    border-radius: 10px;
    margin-right: 25px;
    font-size: 20px;
    padding: 5px 10px;
}

.btn:hover{
    background-color: green;
}

.btn1{
    border-radius: 10px;
    margin-left: 25px;
    font-size: 20px;
    padding: 5px 10px;
}

.btn1:hover{
    background-color: red;
}